@import url(https://fonts.googleapis.com/css?family=Oxygen);
/*
* General
*/
body {
  font-family: 'Oxygen', sans-serif;
}
a:link,
a:visited {
  color: #8b2c93;
}
a:hover,
a:active {
  color: #66206c;
}
a.btn {
  color: #ffffff;
}
/*
* Button
*/
.btn.btn-link {
  color: #8b2c93;
}
.btn.btn-link:hover {
  color: #66206c;
}
.btn.btn-primary {
  background-color: #8b2c93;
  border-color: #66206c;
}
.btn.btn-primary:hover {
  background-color: #78267f;
  border-color: #531a58;
}
.btn.btn-success {
  background-color: #5ba215;
  border-color: #42750f;
}
.btn.btn-success:hover {
  background-color: #4e8b12;
  border-color: #355e0c;
}
.btn.btn-info {
  background-color: #3d9ec9;
  border-color: #2e80a5;
}
.btn.btn-info:hover {
  background-color: #3390b9;
  border-color: #287191;
}
.btn.btn-warning {
  background-color: #ffb43f;
  border-color: #ffa00c;
}
.btn.btn-warning:hover {
  background-color: #ffaa25;
  border-color: #f29300;
}
.btn.btn-danger {
  color: #ffffff;
  background-color: #df0051;
  border-color: #ac003e;
}
.btn.btn-danger:hover {
  background-color: #c60048;
  border-color: #930035;
}
/*
* Labels 
*/
.label.label-default {
  background-color: #bbbbbb;
}
.label.label-primary {
  background-color: #8b2c93;
}
.label.label-success {
  background-color: #5ba215;
}
.label.label-info {
  background-color: #3d9ec9;
}
.label.label-warning {
  background-color: #ffb43f;
}
.label.label-danger {
  background-color: #df0051;
}
/*
* Badges
*/
.badge {
  background-color: #bbbbbb;
}
/*
* Dropdowns
*/
.dropdown-menu li > a {
  color: #222222;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:active,
.dropdown-menu li > a:focus {
  background-color: #eee;
  color: #222222;
}
.dropdown-menu li.active > a {
  background-color: #8b2c93;
}
.dropdown-menu li.active > a:hover {
  background-color: #66206c;
}
.dropdown-menu .dropdown-header {
  color: #bbbbbb;
}
.dropdown-menu .divider {
  background-color: #eeeeee;
}
/*
* Navs
*/
.nav-tabs li.active > a {
  color: #8b2c93;
}
.nav-tabs li.active > a:hover,
.nav-tabs li.active > a:focus {
  color: #66206c;
}
.nav-pills li.active > a {
  background-color: #8b2c93;
}
.nav-pills li.active > a .badge {
  color: #66206c;
}
.nav-pills li.active > a:hover,
.nav-pills li.active > a:focus {
  background-color: #66206c;
}
/*
* Navbar Default
*/
.navbar-default {
  background-color: #eeeeee;
  border-color: #d5d5d5;
}
.navbar-default.navbar-fixed-top {
  border-color: #ffffff;
  border-width: 0 0 3px 0;
  box-shadow: 0 6px #8b2c93;
}
.navbar-default .navbar-collapse {
  border-color: #c8c8c8;
}
.navbar-default .navbar-nav li.active > a {
  background-color: #d5d5d5;
}
.navbar-default .navbar-nav li.active > a:hover,
.navbar-default .navbar-nav li.active > a:active,
.navbar-default .navbar-nav li.active > a:focus {
  background-color: #d5d5d5;
}
.navbar-default .navbar-nav li.dropdown a.dropdown-toggle[aria-expanded=true] {
  background-color: #d5d5d5;
}
/* 
* Navbar Inverse
*/
.navbar-inverse {
  background-color: #8b2c93;
  border-color: #66206c;
}
.navbar-inverse.navbar-fixed-top {
  border-color: #ffffff;
  border-width: 0 0 3px 0;
  box-shadow: 0 6px #df0051;
}
.navbar-inverse .navbar-collapse {
  border-color: #66206c;
}
.navbar-inverse .navbar-brand {
  color: #ffffff;
}
.navbar-inverse .navbar-brand:hover {
  color: #e0a6e5;
}
.navbar-inverse .navbar-nav li > a {
  color: #ffffff;
}
.navbar-inverse .navbar-nav li > a:hover {
  color: #e0a6e5;
}
.navbar-inverse .navbar-nav li.active > a {
  background-color: #66206c;
}
.navbar-inverse .navbar-nav li.active > a:hover,
.navbar-inverse .navbar-nav li.active > a:active,
.navbar-inverse .navbar-nav li.active > a:focus {
  background-color: #66206c;
  color: #e0a6e5;
}
.navbar-inverse .navbar-nav li.dropdown a.dropdown-toggle {
  color: #ffffff;
  background-color: #8b2c93;
}
.navbar-inverse .navbar-nav li.dropdown a.dropdown-toggle:hover,
.navbar-inverse .navbar-nav li.dropdown a.dropdown-toggle:active {
  color: #e0a6e5;
}
.navbar-inverse .navbar-nav li.dropdown a.dropdown-toggle[aria-expanded=true] {
  background-color: #66206c;
}
.navbar-inverse .navbar-nav li.dropdown .dropdown-menu li > a {
  color: #ffffff;
}
.navbar-inverse .navbar-nav li.dropdown .dropdown-menu li > a:hover,
.navbar-inverse .navbar-nav li.dropdown .dropdown-menu li > a:active,
.navbar-inverse .navbar-nav li.dropdown .dropdown-menu li > a:focus {
  color: #e0a6e5;
}
.navbar-inverse .navbar-nav li.dropdown .dropdown-menu li.active > a {
  background-color: #66206c;
}
.navbar-inverse .navbar-nav li.dropdown .dropdown-menu .dropdown-header {
  color: #e0a6e5;
}
.navbar-inverse .navbar-nav li.dropdown .dropdown-menu .divider {
  background-color: #66206c;
}
@media (min-width: 768px) {
  .navbar-inverse .navbar-nav li.dropdown .dropdown-menu li > a {
    color: #222222;
  }
  .navbar-inverse .navbar-nav li.dropdown .dropdown-menu li > a:hover,
  .navbar-inverse .navbar-nav li.dropdown .dropdown-menu li > a:active,
  .navbar-inverse .navbar-nav li.dropdown .dropdown-menu li > a:focus {
    background-color: #eee;
    color: #222222;
  }
  .navbar-inverse .navbar-nav li.dropdown .dropdown-menu li.active > a {
    background-color: #8b2c93;
  }
  .navbar-inverse .navbar-nav li.dropdown .dropdown-menu li.active > a:hover {
    background-color: #66206c;
  }
  .navbar-inverse .navbar-nav li.dropdown .dropdown-menu .dropdown-header {
    color: #bbbbbb;
  }
  .navbar-inverse .navbar-nav li.dropdown .dropdown-menu .divider {
    background-color: #eeeeee;
  }
}
.navbar-inverse .navbar-toggle {
  border-color: #66206c;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #66206c;
}
/*
* Alerts
*/
.alert.alert-success {
  background-color: #dbf7bf;
  border-color: #c1f192;
  color: #5ba215;
}
.alert.alert-info {
  background-color: #ddeef5;
  border-color: #b5daea;
  color: #2e80a5;
}
.alert.alert-warning {
  background-color: #fff0d8;
  border-color: #ffdca5;
  color: #ffa00c;
}
.alert.alert-danger {
  background-color: #ffdfeb;
  border-color: #ffacca;
  color: #df0051;
}
/*
* Progress Bars
*/
.progress .progress-bar {
  background-color: #8b2c93;
}
.progress .progress-bar.progress-bar-success {
  background-color: #5ba215;
}
.progress .progress-bar.progress-bar-info {
  background-color: #3d9ec9;
}
.progress .progress-bar.progress-bar-warning {
  background-color: #ffb43f;
}
.progress .progress-bar.progress-bar-danger {
  background-color: #df0051;
}
/*
* List Groups
*/
.list-group a.list-group-item:link,
.list-group a.list-group-item:visited {
  color: #222222;
}
.list-group a.list-group-item:hover,
.list-group a.list-group-item:active {
  color: #222222;
}
.list-group a.list-group-item.active:link,
.list-group a.list-group-item.active:visited {
  color: #ffffff;
  background-color: #8b2c93;
  border-color: #66206c;
}
.list-group a.list-group-item.active:hover,
.list-group a.list-group-item.active:active {
  color: #ffffff;
  background-color: #66206c;
  border-color: #66206c;
}
/*
* Panels
*/
.panel.panel-default .panel-heading {
  border-bottom: 2px solid #df0051;
}
.panel.panel-primary {
  border-color: #66206c;
}
.panel.panel-primary .panel-heading {
  background-color: #8b2c93;
  border-color: #66206c;
  border-bottom: 2px solid #66206c;
}
.panel.panel-success {
  border-color: #c1f192;
}
.panel.panel-success .panel-heading {
  background-color: #dbf7bf;
  border-color: #c1f192;
  border-bottom: 2px solid #5ba215;
  color: #5ba215;
}
.panel.panel-info {
  border-color: #b5daea;
}
.panel.panel-info .panel-heading {
  background-color: #ddeef5;
  border-color: #b5daea;
  border-bottom: 2px solid #3d9ec9;
  color: #3d9ec9;
}
.panel.panel-warning {
  border-color: #ffdca5;
}
.panel.panel-warning .panel-heading {
  background-color: #fff0d8;
  border-color: #ffdca5;
  border-bottom: 2px solid #ffb43f;
  color: #ffb43f;
}
.panel.panel-danger {
  border-color: #ffacca;
}
.panel.panel-danger .panel-heading {
  background-color: #ffdfeb;
  border-color: #ffacca;
  border-bottom: 2px solid #df0051;
  color: #df0051;
}
/*
* Carousel
*/
.carousel > a.carousel-control {
  color: #ffffff;
}
