// Colors
@members-purple: #8b2c93;
@members-purple-dark: darken(@members-purple, 10%);
@members-puprle-light: lighten(@members-purple, 30%);
@members-pink: #df0051;
@charcoal: #222;
@gray: #bbb;
@white: #fff;

/*
* General
*/

// Import and apply the Oxygen font
@import url(https://fonts.googleapis.com/css?family=Oxygen);
body {
  font-family: 'Oxygen', sans-serif;
}

// Links
a {
  &:link, &:visited {
    color: @members-purple;
  }
  &:hover, &:active {
    color: @members-purple-dark;
  }
}

/*
* Navbar
*/

.navbar {
  background-color: #eee;
}

/* 
* Navbar Inverse
*/

.navbar-inverse {
  background-color: @members-purple;
  .navbar-brand {
    color: @white;
    &:hover {
      color: @members-puprle-light;
    }
  }
  .navbar-nav {
    li > a {
      color: @white;
      &:hover {
        color: @members-puprle-light;
      }
    }
    li.active > a {
      background-color: @members-purple-dark;
      &:hover, &:active, &:focus {
        background-color: @members-purple-dark;
        color: @members-puprle-light;
      }
    }
  }
  .navbar-toggle {
    border-color: @members-purple-dark;
    &:hover {
      background-color: @members-purple-dark;
    }
  }
  &.navbar-fixed-top {
    border-color: @white;
    border-width: 0 0 3px 0;
    box-shadow: 0 6px @members-pink;
  }
}

/*
* Panels
*/

.panel-default {
  .panel-heading {
    border-bottom: 2px solid @members-pink;
  }
}
